#about {
    hr {
        width: 50px;
        border-top: 2px solid coral;
        margin: 10px;
        margin-left: 0px;
    }

    .website_link {
        color: coral;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .row {
        .developer_img {
            -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
            filter: grayscale(90%);
        }
    }


}