.error-box {
  width: 100%;
  height: 100vh;
  max-height: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .nav-link {
    display: block;
    color: coral;
    font-size: 25px;
    font-weight: 500;
    transition: 0.3s ease;
    &:hover {
      color: coral;
      text-decoration: underline;
    }
  }
}
